@font-face {
    font-family: "Roboto Condensed";
    src: url("../../vendor/Roboto-Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../vendor/Roboto-Condensed/RobotoCondensed-Regular.ttf");
    font-weight: bold;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: black;
    color: white;
    margin: 5px;
}
